---
import "../styles/global.css";
---

<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <slot name="head" />
  </head>
  <body class="bg-gray-50 min-h-screen">
    <slot />
  </body>
</html>
