---
import "../styles/global.css";
import { Topbar } from "../components/ui/Topbar";
const { user } = Astro.locals;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <slot name="head" />
  </head>
  <body class="bg-gray-50 min-h-screen">
    <Topbar client:load user={user} />
    <slot />
  </body>
</html>
